/* CSS name:Yingying(Judy) Feng Student Number: 301176809 Date:2022-10-16 */
/* custom CSS goes here */
body{
    font-family: "Montserrat";
  }
 
  h6{
      font-size: x-small;
  }

/* home page */
.welcome-messages {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 15% 0 0 5%;
}

.name-sentence {
    font-size: 5rem;
}

.judy-name {
    font-family: 'Pacifico', cursive;
}

.project-button {
    position: relative;
    top: 1%;
    margin: 0 3rem 0 0;
    border-radius: 0%;
}

.service-button {
    position: relative;
    top: 1%;
    margin: 0 3rem 0 0;
    border-radius: 0%;
}

.project-button:hover {
    border-color: antiquewhite;
}

.service-button:hover {
    border-color: black;
}

/* about me page */

.about-me-line-1 {
    text-decoration: underline 10px;
    margin: 140px 0 -50px 0;
    line-height: 2;

}

.about-me-line-1-1 {
    text-decoration: underline 10px;
    margin: 100px 0 60px 80px;
    line-height: 2;
}

.about-me-line-2 {
    width: auto;
    height: 1550px;
    background-color:black;
}

.about-me-circle-1 {
    float: left;
    position: relative;
    right: 130px;
    bottom: 400px;
    width: 700px;
    height: 700px;
    border: 10px solid #fff;
    border-radius: 100%;
}


.about-me-circle-3 {
    float: right;
    position: fixed;
    left: 1000px;
    bottom: 200px;
    width: 700px;
    height:700px;
    border: 10px solid #fff;
    border-radius: 100%;
}

.about-me-line-2-1 {
    position: relative;
    left: 80px;
    margin-top: 0;
    color: #fff;
}

.about-me-line-2-1-1{
    font-weight: 900;
    font-size: 9.3rem;
}

.about-me-line-2-1-1-1 {
    padding-left: 10px;
}

.about-me-line-2-1-1-1-1 {
    position: absolute;
    top: 1000px;
    left: 300px;
    width: 100px;
    height: 100px;
    background-color:#fff;
    border-radius: 100px;
}

.about-me-line-2-1-1-1-2 {
    position: absolute;
    top: 1200px;
    left: 900px;
    width: 100px;
    height: 100px;
    background-color:#fff;
    border-radius: 100px;
}

.about-me-line-2-1-1-1-3 {
    position: absolute;
    top: 1350px;
    left: 450px;
    width: 100px;
    height: 100px;
    border-bottom: 10px solid rgb(255, 255, 255);
    border-left: 10px solid rgb(255, 255, 255);
    border-bottom-left-radius: 100%;
    bottom: 0;
    transform: rotate(-25deg);
}

.about-me-line-2-1-1-2{
    text-align: end;
    float: right;
    position: relative;
    right: 170px;
}

#aboutme-link:link{
    text-decoration: none;
}
#aboutme-link{
    color: #fff;
}

/* project page */

.projects_item {
    text-align: center;
    /* margin-left: 100px; */
}

a:hover {
    font-weight: bolder;
}
#project-link{
    color: #fff;
}
#project-link:link{
    text-decoration: none;
}

.project-img{
    width: 200px;
    height:100px;
}

.project-img2{
    width: 100px;
}

/* Contact me page */
#buttonS{
    background-color: rgb(255, 255, 255); 
    color: #000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#buttonS:hover {
    background-color: rgb(255, 255, 255); 
    color: #000;
    font-weight: bolder;
}

#buttonS:active {
    box-shadow: 0 2px ;
    transform: translateY(2px);
}

#buttonC{
    background-color:black;
    border: none;
    color: rgb(224, 230, 229);
    text-decoration: none;
    font-size: 16px;
}

#chkhouse{
    margin-left: 50px;
    margin-right: 10px;
}
#chkCodom{
    margin-left: 50px;
    margin-right: 10px;
}

