<div class="container">
    <br><br><br><br><br><br>
    <h1>Add Contact </h1>

    <div class="row">
        <div class = "row">
            <div class ="offset-md-3 col-md-6">
  
            <form class = "form" method="POST">
                <div class ="form group">
                    <label for="nameTextField" style="margin-right: 20px;">Contact Name</label><br>
                    <input type="text" class="form control"
                    id="nameTextField"
                    placeholder="Enter the Contact Name"
                    name="Name"
                    value="<%=contacts.Name%>"
                    required>
                </div><br>
    
                <div class ="form group">
                    <label for="authorTextField" style="margin-right: 20px;">Contact Number</label><br>
                    <input type="text" class="form control"
                    id="authorTextField"
                    placeholder="Enter the Contact Number"
                    name="Number" 
                    value="<%=contacts.Number%>"
                    required>
                </div><br>
    
                <div class ="form group">
                    <label for="publishedTextField" style="margin-right: 20px;">Email</label><br>
                    <input type="text" class="form control"
                    id="publishedTextField"
                    placeholder="Enter the Email"
                    name="Email" 
                    value="<%=contacts.Email%>"
                    required>
                </div><br>

                <button class = "btn btn-dark" type="submit" style="margin-right: 20px;"><i class ="fas fa-edit"></i>submit</button>
                <a href='business-contact-list' class="btn btn-warning"><i class="fas fa-undo"></i>cancel</a>  
            
            </form>
            </div>
            </div>
    </div>
</div>