<!--Home page name:Yingying(Judy) Feng Student Number: 301176809 Date:2022-10-16-->
<div class="container container-fluid">
    <div class="row">
        <div class="col-lg-6 ">
            <img src="./Assets/images/peep-judy.gif" class="img-fluid cover-img">
        </div>
        <div class="welcome-messages col-lg-6 ">
          <p>Hello there!</p>
          <p class="name-sentence">This is <span class="judy-name">Judy.</span></p>
          <p class="career">A Developer and Designer.<br>
          My Heart along with u, Pizza!</p>
          <p>Thank you for coming here.</p>
          <a href="./projects" class="btn btn-dark btn-lg project-button" role="button" aria-pressed="true" >Projects</a>
          <a href="./services" class="btn btn-light btn-lg service-button" role="button" aria-pressed="true">Services</a>
        </div>
      </div>
</div>