<!--Home page name:Yingying(Judy) Feng Student Number: 301176809 Date:2022-10-16-->
<div class="container container-fluid">
    <div class="row">
        <div class="col-lg-6 ">
            <img src="./Assets/images/peep-judy.gif" class="img-fluid cover-img">
        </div>
        <div class="welcome-messages col-lg-6 ">
          <p>Hello there! Thank you for coming here.</p>
          <p class="name-sentence">This is <span class="judy-name">Judy.</span></p>
          <p class="career">Chinese name: Yingying.<br> <br>A Developer and Designer.<br>
          My Heart along with u, Pizza!</p>
          <p ><a class="resumeHomeLink" href="./Assets/images/YingyingFeng-Resume.pdf">__________Download my PDF resume</a><br></p>
          <p ><a class="resumeHomeLink" href="./Assets/images/Judy.pptx">Check my Portfolio__________</a><br></p>
          <!-- <a href="./projects" class="btn btn-dark btn-lg project-button" role="button" aria-pressed="true" >Projects</a> -->
          <a href="./services" class="btn btn-dark btn-lg service-button" role="button" aria-pressed="true">Services</a>         
        </div>
      </div>
</div>
