<!--Projects page name:Yingying(Judy) Feng Student Number: 301176809 Date:2022-10-16-->

<div class="container container-fluid">
    <!-- <div class="about-me-line-1">Wow, you landing on this page! </div>  -->
    <div class="about-me-line-1-1">____________________________________________________O__O </div> 
    <div class="about-me-line-2">
        <div class="about-me-line-2-1">
           <h1 class="about-me-line-2-1-1">Here are my projects :</h1> 
            <div class="about-me-line-2-1-1-1"> <br>
             
                <div class="about-me-line-2-1-1-1-1"></div>
                <div class="about-me-line-2-1-1-1-2"></div>
                <div class="about-me-line-2-1-1-1-3"></div>
            </div>
                <div class="projects_item">
                    <!-- <h1> Game Projects</h1>  -->
                    <h5>O O O O O O</h5> 
                    <h5><img src="./Assets/images/simongame.jpeg" class="project-img"><br><br>
                        <a href="https://github.com/miaaow42/Simon-Game" id="project-link"> Simon-Game </a></h5>
                        <h6>Through this project, I learned how to grab mouse events.</h6><br><br>
                    <h5><img src="./Assets/images/dicegame.png" class="project-img2"><br><br>
                        <a href="https://github.com/miaaow42/dice-play" id="project-link"> Dice-Game </a></h5>
                        <h6>Through this project, I learned the random method.</h6><br><br>
                    <h5><img src="./Assets/images/drumgame.jpeg" class="project-img"><br><br>
                        <a href="https://github.com/miaaow42/make-some-noise" id="project-link">Make some noise (a drum game)</a></h5>
                        <h6>Through this project, I learned how to grab keyboard input.</h6><br><br>
                    <h5>O</h5>
                    <h5>O</h5>
                    <h5>O</h5>
                    <h5>O</h5>
                </div>
            <div class="about-me-line-2-1-1-2">
                
            </div>
            <div>
            <div class="projects_item">
               <!-- <h1>Web projects</h1>
                 <h5 ><a href="http://studentweb.cencol.ca/yfeng66/myweb.html" id="project-link"> A Resume page </a></h5>
                <h5><a href="http://studentweb.cencol.ca/yfeng66/login.html" id="project-link"> Register project </a></h5>
                <h5><a href="http://studentweb.cencol.ca/yfeng66/assignment4.html" id="project-link">Validation form project</a></h5>
                <h5><a href="http://studentweb.cencol.ca/yfeng66/photos.htm" id="project-link"> Photo gallery project </a></h5>
                <h5><a href="http://studentweb.cencol.ca/yfeng66/assignment11.html" id="project-link"> BMR Calculator </a></h5>
                <h5><a href="http://studentweb.cencol.ca/yfeng66/assignment22.html" id="project-link">Table creator project</a></h5> -->
                <h5>O O O O O O</h5>
                <h5>O O O O O O</h5> 
                 
            </div>
        </div> 
       <!-- <div class="about-me-circle-1"></div>
         <div class="about-me-circle-2"><h5 class="about-me-circle-2-1">As</h5></div> 
        <div class="about-me-circle-3"></div>-->
    </div>
</div>